<div class="login">
  <div class="login-triangle"></div>

  <ng-content select=".login_text"></ng-content>
  <!-- <h2 class="login-header">Log in</h2> -->

  <form class="login-container">
    <p><input type="email" placeholder="Email" #email /></p>
    <p><input type="password" placeholder="Password" /></p>
    <p>
      <ng-content select=".login_button"></ng-content>
      <ng-content select=".sign_button"></ng-content>
      <ng-content select="app-remember-me"></ng-content>
    </p>
    <app-show-message
      [style.display]="showMessage ? 'inherit' : 'none'"
    ></app-show-message>
    <app-show-message
      [style.display]="showMessage ? 'inherit' : 'none'"
    ></app-show-message>
    <app-show-message
      [style.display]="showMessage ? 'inherit' : 'none'"
    ></app-show-message>
  </form>
</div>
